<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.fuchuang.biz.passageservice.dao.mapper.PartitionMapper" >
    <select id="getPartitionInfo" resultType="org.fuchuang.biz.passageservice.dao.entity.PartitionDO">
        select id, name, create_time, update_time, del_flag
        from tbl_passage_partition
    </select>
</mapper>